# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
tenv/
penv/
*.env

# Node
node_modules/
dist/
build/

# OS
.DS_Store

# Others
*.log
# GloVe embeddings
backend/glove/
backend/glove/glove.6B.50d.txt

